@keyframes huerotate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}


:root {
	--bg-color: #eee;
	--text-color: #111;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	position: relative;
}

body.dark nav {
	filter: invert(100%);
}

body.dark {
	--bg-color: #151515;
	--text-color: #eee;
}

body.dark .card {
	background-color: #222 !important;
	color: var(--text-color) !important;
	box-shadow: 0 0 25px 0 rgb(0 0 0 / .1) !important;
}

body.dark .modal-content {
	background-color: #222 !important;
	color: var(--text-color) !important;
	box-shadow: 0 0 25px 0 rgb(0 0 0 / .1) !important;
}

body.dark .btn-primary {
	filter: invert(100%) !important;
}

body.rainbow {
	--bg-color: #24B2F4;
	--text-color: #111;
}

body.rainbow {
	animation: huerotate 500ms infinite linear !important;
}

body.rainbow .btn-primary {
	background-color: #f4f907;
	border: 10px solid !important;
	border-image: linear-gradient(45deg, gold, deeppink) 1 !important;
	clip-path: inset(0px round 10px) !important;
	filter: hue-rotate(360deg) !important;
}

body.rainbow .card {
	background-color: #f254f2 !important;
	box-shadow: 0 0 25px 0 #f4f907 !important;
}

body.rainbow nav {
	background-color: #f4f907 !important;
}

main {
	width: 100%;
	position: absolute;
}

#theme-switcher {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	background-color: var(--bg-color);
	padding: 5px;
	transition: 250ms ease-in-out;
}

#theme-switcher svg {
	width: 40px;
	height: 40px;
}

#theme-switcher svg path {
	fill: var(--text-color);
}

#theme-switcher:hover {
	filter: invert(100%);
}


.btn-primary {
	border-radius: unset !important;
	background-color: black !important;
	outline: none !important;
	border: none !important;
	transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
	color: black !important;
	background-color: white !important;
	border: 1px solid black !important;
}


input[type] {
	transition: all 0.3s ease-in-out;
}

input[type]:focus {
	outline: none !important;
	border: 1px solid black !important;
	box-shadow: 0px 0px 10px rgb(0 0 0 / .1) !important;
}

#ad-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	width: 60%;
	margin-bottom: 5em;
}


#single {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	flex-direction: column;
	padding-top: 1em;
	width: 100%;
}

#ad-description {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	padding: 1em;
	margin-top: 3em;
}


#page-container {
	background-color: aliceblue;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	height: 75%;
	width: 30%;
	-webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
	padding: 1em;
	border-radius: 10px;
}

#ad-info {
	color: darkgrey;
	width: 100%;
	justify-content: start;
	padding: 1em;
}
